.about-section {
    background: #fff;
    border-radius: 20px;
}

.about-section p {
    font-size: 1.08rem;
    line-height: 1.8;
    color: #555;
}

.about-section img {
    border-radius: 20px;
    object-fit: cover;
}

body {
    padding-top: 72px; /* высота navbar */
}